extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get bit of work done.
        | <br/><br/>
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident inventore beatae reiciendis, sapiente laudantium recusandae repudiandae fugit temporibus. Necessitatibus, alias.
