doctype html
html(ng-app='loc8rApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Loc8r
        div#navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    .container
      div(ng-view)
        block content
      footer
        .row
          .col-xs-12
            small &copy; Igor Mikhalev
    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/angular/loc8r.min.js')
//    script(src='/app.js')
//    script(src='/home/home.controller.js')
//    script(src='/common/services/loc8rData.service.js')
//    script(src='/common/services/geolocation.service.js')
//    script(src='/common/directive/ratingStars/ratingStars.directive.js')
//    script(src='/common/filters/formatDistance.filter.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/validation.js')
